h1  {
  color:#376A3B;
  font-family: sans-serif;
  padding: 10px;
}

/*boks under nav*/
.infoboks{
  background-color: #507d54;
  color: #FFFF;
  width: 100vw;
  padding: 2px;
  text-align: center;
  letter-spacing: 5px;
  font-size: 15px;
  }

/* Slideshow container */
* {box-sizing:border-box}
.slideshow-container {
  max-width: 100vw;
  width: 100vw;
  position: relative;
  background: #EBE2DC;
  margin-top: 20px;
}

.mySlides {
  display: none;
}

.mySlides img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 500px;
  height: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #376A3B;
  font-weight: bold;
  font-size: 45px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  margin-right: 20px;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #376A3B;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  top: auto;
  margin-left: 1.5%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-bottom: 20px;
  background-color: #99BC9C;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #376A3B;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*produkt bokse*/

.pt1 {grid-area: picture1;}
.bt1 {grid-area: text1;}
.pt2 {grid-area: picture2;}
.bt2 {grid-area: text2;}
.bt3 {grid-area: text3;}
.pt3 {grid-area: picture3;}
.bt4 {grid-area: text4;}
.pt4 {grid-area: picture4;}
.bt5 {grid-area: text5;}
.pt5 {grid-area: picture5;}
.bt6 {grid-area: text6;}
.pt6 {grid-area: picture6;}

.produkt-container, .produkt-container2, .produkt-container3, .produkt-container4, .produkt-container5, .produkt-container6 {
  background-color: #f3eeeb;
  grid-gap: 20px;
  padding: 10px;
  margin-top: 30px;
  width: 100vw;
}

.produkt-container{
  display: grid;
  grid-template-areas:
  'text1'
  'picture1';
  }

.produkt-container2{
  display: grid;
  grid-template-areas:
  'text2'
  'picture2';
}

.produkt-container3{
  display: grid;
  grid-template-areas:
  'text3'
  'picture3';
}
.produkt-container4{
  display: grid;
  grid-template-areas:
  'text4'
  'picture4';
}
.produkt-container5{
  display: grid;
  grid-template-areas:
  'text5'
  'picture5';
}
.produkt-container6{
  display: grid;
  grid-template-areas:
  'text6'
  'picture6';
}

.bt1, .bt2, .bt3, .bt4, .bt5, .bt6 {
  font-family: serif;
  color: #376A3B;
  font-size: 35;
  margin: 20px;
}

.pt1 img, .pt2 img, .pt3 img, .pt4 img, .pt5 img, .pt6 img{
  display: block;
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: auto;
}

@media screen and (min-width: 750px){
  .produkt-container, .produkt-container2, .produkt-container3, .produkt-container4, .produkt-container5, .produkt-container6 {
    background-color: #f3eeeb;
    grid-gap: 20px;
    padding: 40px;
    margin-top: 30px;
    max-width: 100vw;
  }

  .produkt-container{
    grid-template-areas:
    'text1 picture1';
  }
  .produkt-container2{
    grid-template-areas:
    'picture2 text2';
  }
  .produkt-container3{
    grid-template-areas:
    'text3 picture3';
  }
  .produkt-container4{
    grid-template-areas:
    'picture4 text4';
  }
  .produkt-container5{
    grid-template-areas:
    'text5 picture5';
  }
  .produkt-container6{
    grid-template-areas:
    'picture6 text6';
  }
  .pt1 img, .pt3 img, .pt5 img{
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-right: 10%;
    margin:auto;
  }
  .bt1, .bt3, .bt5, .bt2, .bt4, .bt6 {
    margin-left: 10%;
    margin-top: 0%;

  }
  .pt2 img, .pt4 img, .pt6 img{
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-left: 10%;
    margin: auto;
  }
