body{
  background-color: #EBE2DC;
  margin: 0%;
  font-family: Lucida Sans Typewriter;
  color: #376A3B;
}
.tekst {
  color: #00454e;
  text-align: center;
}

#info_tekst{
  text-align: left;
  max-width: 750px;
}

.info_billede{
  width: 400px;
  float: right;
  margin-right: 150px;
}

#navn {
  width: 250px;
  height: 20px;
}

#email {
  width: 250px;
  height: 20px;
}

#besked {
  width: 250px;
}
#telefon {
  width: 250px;
  height: 20px;
}
#my_form {
  text-align: center;
}

.footer{
  background-color: #376A3B;
  color: white;
  position: relative;
  width: 100%;
  bottom: 0;
}

.krabbe{
  width: 125px;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

li{
  list-style: none;
}
.footer-col{
   width: 30%;
   padding: 0 50px;
   box-sizing: border-box;
}
.facebook{
  width: 35px;
  height: 35px;
}

.instagram{
  width: 35px;
  height: 35px;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
